.temperature {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.temp {
  font-size: 48px;
}

.temp span {
  font-weight: 700;
  margin-right: 10px;
}

.weather {
  font-weight: 500;
  font-size: 24px;
}

.image {
  width: 75px;
  height: 75px;
}

@media (width >= 1440px) {
  .temperature {
    margin-bottom: 1.5rem;
  }
}
