.thisDay {
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(1rem);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  padding: 2rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  width: 700px;
  font-weight: 200;
}

/* Top */
.thisDayTop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.cityName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.city {
  font-weight: 600;
}

.country {
  font-size: 14px;
}

.time {
  text-align: right;
}

/* Main content */
.thisDayTemp {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.temp {
  font-size: 48px;
}

.temp span {
  font-weight: 700;
  margin-right: 10px;
}

.weather {
  font-weight: 500;
  font-size: 24px;
}

.weatherImage {
  width: 75px;
  height: 75px;
}

/* Weather Cards */
.weatherCards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-bottom: 1rem;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  padding: 1rem;
}

.cardTitle {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.cardValue {
  font-weight: 500;
}

/* Sun Time */
.sunTime {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.sunCard {
  backdrop-filter: blur(8px);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sunrise {
  background: linear-gradient(
    to right,
    rgba(255, 166, 0, 0.3),
    rgba(255, 255, 0, 0.3)
  );
}

.sunset {
  background: linear-gradient(
    to right,
    rgba(128, 0, 128, 0.3),
    rgba(255, 192, 203, 0.3)
  );
}

.sunCardImage {
  width: 2rem;
  height: 2rem;
}

.sunCardTitle {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-bottom: 0.5rem;
}

.sunCardDetails {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.sunTimeLabel {
  color: rgba(255, 255, 255, 0.8);
  font-size: 0.875rem;
  font-weight: 500;
}

.sunTimeValue {
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
}
