.currentDay {
  background: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(1rem);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 1.5rem;
  padding: 2rem 1rem;
  width: 350px;
  font-weight: 200;
}

@media (width >= 768px) {
  .currentDay {
    width: 650px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
}

@media (width >= 1024px) {
  .currentDay {
    width: 500px;
    padding: 1.5rem 2rem;
  }
}

@media (width >= 1440px) {
  .currentDay {
    width: 750px;
    padding: 2rem;
  }
}
