.info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.cityName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.city {
  font-weight: 600;
  font-size: 22px;
}

.country {
  font-size: 14px;
}

.time {
  text-align: right;
}
